<footer class="footer">
    <p class="text-social">
        Like me on <br>
        <a href="#" class="link-social">LinkedIn</a>,
        <a href="#" class="link-social">Instagram</a>,
        <a href="#" class="link-social">Behance</a>,
        <a href="#" class="link-social">Dribble</a>
    </p>
</footer>