<header class="header">
    <div class="body-header">
        <div class="crisper">
            <div class="body-nav-desktop">
                <nav class="nav-panel-desktop">
                    <ul class="nav-panel-items">
                        <li class="nav-panel-item">
                            <a data-goto="#home" href="#" class="nav-panel-link active-link">Home</a>
                        </li>
                        <li class="nav-panel-item">
                            <a data-goto="#about-me" href="#" class="nav-panel-link">About me</a>
                        </li>
                        <li class="nav-panel-item">
                            <a data-goto="#skills" href="#" class="nav-panel-link">Skills</a>
                        </li>
                        <li class="nav-panel-item">
                            <a data-goto="#portfolio" href="#" class="nav-panel-link">Portfolio</a>
                        </li>
                        <li class="nav-panel-item">
                            <a data-goto="#contacts" href="#" class="nav-panel-link">Contacts</a>
                        </li>
                    </ul>
                </nav>
                <div class="nav-panel-mobile-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <nav class="nav-panel-mobile">
                <ul class="nav-panel-items">
                    <li class="nav-panel-item">
                        <a data-goto="#home" href="#" class="nav-panel-link active-link">Home</a>
                    </li>
                    <li class="nav-panel-item">
                        <a data-goto="#about-me" href="#" class="nav-panel-link">About me</a>
                    </li>
                    <li class="nav-panel-item">
                        <a data-goto="#skills" href="#" class="nav-panel-link">Skills</a>
                    </li>
                    <li class="nav-panel-item">
                        <a data-goto="#portfolio" href="#" class="nav-panel-link">Portfolio</a>
                    </li>
                    <li class="nav-panel-item">
                        <a data-goto="#contacts" href="#" class="nav-panel-link">Contacts</a>
                    </li>
                </ul>
                <div class="language-site" data-lang-site="1">
                    <a href="#" class="link-lang ukr-link" data-lang="ukr">Ua</a>
                    <p class="separator-lang">|</p>
                    <a href="#" class="link-lang eng-link active" data-lang="eng">Eng</a>
                </div>
            </nav>
        </div>
    </div>
</header>
