<!-- Acquaintance -->
<section class="acquaintance content-section" id="home">
    <div class="crisper">
        <div class="section-title">
            <div class="fname">
                <h2 class="name">Denis</h2>
                <h2 class="lname">Novik</h2>
            </div>
            <div class="other-info">
                <p>UX | UI designer</p>
                <p>24 years old, Minsk</p>
            </div>
            <div class="language-site" data-lang-site="2">
                <a href="#" class="link-lang ukr-link" data-lang="ukr">Ua</a>
                <p class="separator-lang">|</p>
                <a href="#" class="link-lang eng-link active" data-lang="eng">Eng</a>
            </div>
        </div>
        <div class="section-body">
            <picture>
                <source media="(min-width: 768px)" srcset="@img/image-desktop-1.png">
                <img src="@img/image-mobile-1.png" alt="My Photo Mobile 1" class="img-mobile">
            </picture>
        </div>
    </div>
</section>