<!-- Portfolio -->
<section class="portfolio content-section" id="portfolio">
    <div class="crisper">
        <div class="section-title">
            <h2>Portfolio</h2>
        </div>
        <div class="section-body">
            <div class="card">
                <div class="card-title">
                    <picture>
                        <source media="(min-width: 768px)" srcset="@img/portfolio-d1.png">
                        <img src="@img/portfolio-m1.png" alt="Mobile Card 1" class="img-mobile-portfolio">
                    </picture>
                </div>
                <div class="card-body">
                    <a href="#" class="link-card">Online fashion store - Homepage</a>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <picture>
                        <source media="(min-width: 768px)" srcset="@img/portfolio-d2.png">
                        <img src="@img/portfolio-m2.png" alt="Mobile Card 2" class="img-mobile-portfolio">
                    </picture>
                </div>
                <div class="card-body">
                    <a href="#" class="link-card">Reebok Store - Concept</a>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    <picture>
                        <source media="(min-width: 768px)" srcset="@img/portfolio-d3.png">
                        <img src="@img/portfolio-m3.png" alt="Mobile Card 3" class="img-mobile-portfolio">
                    </picture>
                </div>
                <div class="card-body">
                    <a href="#" class="link-card">Braun Landing Page - Concept</a>
                </div>
            </div>
        </div>
    </div>
</section>