{% extends "./html/base.njk" %}

{% block title %}Portfolio{% endblock title %}

{% block styles %}
    <link rel="shortcut icon" href="@img/favicon/favicon.png" type="image/x-icon">
{% endblock styles %}

{% block content %}
    {% include "./html/page-blocks/01_content.njk" %}
    {% include "./html/page-blocks/02_content.njk" %}
    {% include "./html/page-blocks/03_content.njk" %}
    {% include "./html/page-blocks/04_content.njk" %}
    {% include "./html/page-blocks/05_content.njk" %}
    {% include "./html/page-blocks/06_modals.njk" %}
{% endblock content %}

{% block scripts %}{% endblock scripts %}